LV Tools.approj
.ap/*
Houdini Tools.zip
.gitignore
hda/backup/*
hda/back
otls_bak/*
*/*/*/__pycache__/*
*/*/__pycache__/*
python3.9libs/__pycache__/*
otls/backup/*
scripts/python/LVProjectManager/prefs.json
python3.9libs/nodegraphtitle.py
scripts/python/.env
scripts/python/gpt.py
scripts/python/.bak
scripts/python/gradientManager/ramps/*.json
prefs.json